@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}
/*--------------LOGIN-------------- */

/* --------------TELA MENTORES - INDEX ---------------------------------------*/

.containerBox {
  display: flex;
  width: 100%;
  height: 100vh;
}

.iconSideMenu {
  margin-right: 5px;
}
.sideBar {
  background: #482d83;
  padding-top: 5px;
  font-family: "Poppins", sans-serif;
}
.menu {
  background: #482d83;
}
.titleSideBar {
  display: flex;
  margin: 20px;
  font-size: 20px;
}
.titleSideBar h1 {
  font-size: 25px;
}
#fTxt {
  color: #fbb04d;
}
#sTxt {
  color: white;
}

.sideMenu {
  text-align: justify;
  margin-left: 15px;
}
.sideMenu div {
  margin-left: 25px;
  font-size: 16px;
  margin: 5px;
  color: white;
  height: 56px;
  border-radius: 5px;
  align-items: center;
}
.btnSideBar {
  display: flex;
  font-family: "Sora" "sans-serif";
}
.btnSideBar:hover {
  background-color: #564696;
  height: 56px;
  border-radius: 10px;
  margin-right: 25px;
  cursor: pointer;
}
.btnSideBar i {
  margin-right: 10px;
  /* margin-left: 5px; */
}

/* ------------HEADER USUARIO------------- */
.boxContent {
  background: #fcfcfc;
  width: 100%;
  height: 100vh;
}
.headerUser {
  display: flex;
  justify-content: end;
  width: 100%;
  height: 130px;
  background-color: rgb(255, 255, 255);
}
.headerUserContent {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  height: 100px;
  padding: 20px;
  position: f;
}
h4 {
  margin: 25px;
  font-size: 25px;
}
.formContent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  margin: 30px;
}
/* ---------------------------------CAIXA PAI---------------------------- */
.mainContent {
  background: white;
  max-width: 95%;
  max-height: 100vh;
  border-radius: 24px;
  padding: 0.1px;
  box-shadow: 0px 0px 25px 0px rgba(163, 163, 163, 0.2);
  margin-left: 15px;
}

/* -------------------------ABAIXO HEADER----------------------------------*/
.titleBackMain {
  display: flex;
  margin-left: 15px;
}

/* -------------------CADASTRONOVO------------------------------ */
.btnIconsBack {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 25px;
  margin-right: 10px;
}

.formCad {
  margin-left: 19px;
  display: flex;
}
.btnGet {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 25px;
}

input {
  width: 345px;
  height: 50px;
  border-radius: 16px;
  border: 1.5px solid #e0e0e0;
  padding: 10px;
}
.titleEditCard {
  padding: 15px;
  margin-left: 19px;
  left: 5px;
  font-size: 20px;
  color: #482d83;
}

.getcard {
  margin: 25px; /* Margem vertical de 10px e margem horizontal de 5px */
  padding: 10px 20px;
  background: #482d83;
  color: white;
  border: none;
  width: 350px;
  border-radius: 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.getcard:hover {
  background: #564696;
  transform: translateY(-2px);
}

.statusToggle {
  margin: 10px 30px;
  /* font-weight: 800; */
}

.statusToggle .toggleContainer {
  display: flex;
  align-items: center;
}
#statusTxt {
  margin: 5px;
}
.toggleSwitch {
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 40px;
  background-color: #c20000;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
  display: flex;
  align-items: center;
  padding: 4px;
}

.slider {
  background-color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  transition: transform 0.5s ease-in-out;
}

#statusToggle {
  display: none;
}

#statusToggle:checked + .toggleSwitch {
  background-color: #4ec200;
}

#statusToggle:checked + .toggleSwitch .slider {
  transform: translateX(28px);
}

.selectInp {
  width: 345px;
  height: 50px;
  border-radius: 16px;
  border: 1.5px solid #e0e0e0;
  padding: 10px;
}
